<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <h1>Cheese Fan Club</h1>
  <p>Cheese is very good</p>
  <img
    src="https://media.istockphoto.com/id/2210374375/photo/different-types-of-cheese-and-rosemary-on-wooden-table.jpg?s=612x612&w=0&k=20&c=TytEOlfTkd0Seqzoy6Er91oVejJfACcCD2zLzeDrno4="
    alt="Many cheeses on a cutting board">
  <form action="/form" method="POST">
    <label for="name">Name</label><br>
    <input type="text" id="name" name="name"><br>
    <input type="submit" value="Submit">
  </form>
  <h2>Members</h2>
  <ul>
    {% for name in names %}
    <li>
      {{ name }}
    </li>
    {% endfor %}
  </ul>
</body>

</html>